# Week 1 Quiz

#### Question 1

Read in the data in the file “Portfolios_Formed_on_ME_monthly_EW.csv” as we did in the lab sessions.We performed a series of analysis on the ‘Lo 10’ and the ‘Hi 10’ columns which are the returns of the lowest and highest decile portfolios. For purposes of this assignment, we will use the lowest and highest quintile portfolios, which are labelled ‘Lo 20’ and ‘Hi 20’ respectively.

What was the Annualized Return of the Lo 20 portfolio over the entire period?

Enter the answer as a percentage. e.g. if your answer is 23.43% enter the number 23.43

In [1]:
import pandas as pd
import numpy as np
from IPython.display import Math, HTML
import sys
sys.path.append('/')

In [30]:
data = pd.read_csv("data\Portfolios_Formed_on_ME_monthly_EW.csv", header=0, index_col=0, parse_dates=True, na_values=-99.99)

In [31]:
data.index = pd.to_datetime(data.index,format='%Y%m')
data.index = data.index.to_period("M")
data.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
1926-07,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
1926-08,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
1926-09,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
1926-10,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
1926-11,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70

In [32]:
data["Lo 20"]

1926-07    -0.57
1926-08     3.84
1926-09    -0.48
1926-10    -3.29
1926-11    -0.55
           ...
2018-08     3.09
2018-09    -2.04
2018-10   -10.52
2018-11    -2.78
2018-12   -14.77
Freq: M, Name: Lo 20, Length: 1110, dtype: float64

In [33]:
returns = data["Lo 20"]
rets = returns/100
rets.std()

0.09719728592840034

In [34]:
q1_monthly_return = (rets+1).prod()**(1/rets.shape[0])-1
q1_monthly_return

0.011859742853169486

In [35]:
q1_annualized_return = (1+q1_monthly_return)**12 -1
q1_annualized_return

0.15197701163833655

##### Question 1 answer = 15.19

"""""""

#### Question 2
What was the Annualized Volatility of the Lo 20 portfolio over the entire period? 
Enter the answer as a numeric to one decimal place, as a percentage. e.g. if your answer is 23.43% enter the number 23.4

In [36]:
q1_annualized_vol = rets.std()*np.sqrt(12)
q1_annualized_vol

0.3367012751715777

##### Question 2 answer = 33.67

""""""

#### Question 3
What was the Annualized Return of the Hi 20 portfolio over the entire period?

In [37]:
q3_returns = data['Hi 20']/100
q3_monthly_returns = (q3_returns +1).prod()**(1/q3_returns.shape[0])-1
q3_annualized_returns = (1+q3_monthly_returns)**12 - 1
q3_annualized_returns

0.09849020951253262

##### Question 3 answer = 9.84

""""""

#### Question 4
What was the Annualized Volatility of the Hi 20 portfolio over the entire period ?
Enter the answer as percentage. e.g. if your answer is 23.43% enter the number 23.43

In [38]:
q3_annualized_vol = q3_returns.std()*np.sqrt(12)
q3_annualized_vol

0.19511604155631326

##### Question 4 answer = 19.51

""""""

#### Question 5
What was the Annualized Return of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)?
Enter the answer as a percentage. e.g. if your answer is 23.43% enter the number 23.43

In [39]:
data.index

PeriodIndex(['1926-07', '1926-08', '1926-09', '1926-10', '1926-11', '1926-12',
             '1927-01', '1927-02', '1927-03', '1927-04',
             ...
             '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08',
             '2018-09', '2018-10', '2018-11', '2018-12'],
            dtype='period[M]', length=1110, freq='M')

In [100]:
q5_data = data["1999":"2015"]["Lo 20"]
q5_data.tail()

2015-08   -3.47
2015-09   -6.10
2015-10    3.85
2015-11    1.65
2015-12   -5.00
Freq: M, Name: Lo 20, dtype: float64

In [101]:
q5_returns = q5_data/100
q5_monthly = (q5_returns+1).prod()**(1/q5_returns.shape[0])-1
q5_annual = (1+q5_monthly)**12 - 1
q5_annual

0.11442634058515022

##### Question 5 answer = 11.44 (updated)

"""""""

#### Question 6
Question 6
What was the Annualized Volatility of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)?

In [102]:
q5_annual_vol = q5_returns.std()*np.sqrt(12)
q5_annual_vol

0.22889447266699597

##### Question 6 answer = 22.88 (updated)

""""""

#### Question 7
Question 7
What was the Annualized Return of the Hi 20 portfolio over the period  1999 - 2015 (both inclusive)?
Enter the answer as a percentage. e.g. if your answer is 23.43% enter the number 23.43

In [103]:
q7_data = data["1999":"2015"]["Hi 20"]
q7_returns = q7_data/100
q7_monthly = (q7_returns+1).prod()**(1/q7_returns.shape[0])-1
q7_annual = (1+q7_monthly)**12 - 1
q7_annual

0.06286512130085131

##### Question 7 answer = 6.28 (updated)

""""""

#### Question 8
What was the Annualized Volatility of the Hi 20 portfolio over the period 1999 - 2015 (both inclusive)? 
Enter the answer as a percentage. e.g. if your answer is 23.43% enter the number 23.43

In [104]:
q7_annual_vol = q7_returns.std()*np.sqrt(12)
q7_annual_vol

0.1727133212125047

###### Question 8 answer = 17.27 (updated)

""""""

In [55]:
def drawdown(r: pd.Series):
    w_index = 1000*(1+r).cumprod()
    p_p = w_index.cummax()
    d_d = (w_index - p_p)/ p_p
    return pd.DataFrame({
        "Wealth":w_index,
        "Peaks":p_p,
        "drawdown":d_d
    })

#### Questiion 9
What was the Max Drawdown (expressed as a positive number) experienced over the 1999-2015 period in the SmallCap (Lo 20) portfolio?
Enter the answer as a percentage. e.g. if your answer is 23.43% enter the number 23.43

In [57]:
q9_data = drawdown(q5_returns)
q9_data.head()

              Wealth        Peaks  drawdown
1999-01  1111.400000  1111.400000  0.000000
1999-02  1067.055140  1111.400000 -0.039900
1999-03  1034.189842  1111.400000 -0.069471
1999-04  1119.407085  1119.407085  0.000000
1999-05  1168.101293  1168.101293  0.000000

In [60]:
q9_data['drawdown'].min()

-0.6248092431236988

##### Question 9 answer 62.48


""""""

#### Question 10
At the end of which month over the period 1999-2015 did that maximum drawdown on the SmallCap (Lo 20) portfolio occur?
Enter the answer in the format YYYY-MM. Eg for February of 2015 enter 2015-02

In [62]:
q9_data['drawdown'].idxmin()

Period('2009-02', 'M')

##### Question 10 answer 2009-02


"""""""

#### Question 11
What was the Max Drawdown (expressed as a positive number) experienced over the 1999-2015 period in the LargeCap (Hi 20) portfolio?
Enter the answer as a percentage. e.g. if your answer is 23.43% enter the number 23.43

In [64]:
q11_data = drawdown(q7_returns)
q11_data.head()

              Wealth        Peaks  drawdown
1999-01  1015.300000  1015.300000    0.0000
1999-02   997.836840  1015.300000   -0.0172
1999-03  1034.557236  1034.557236    0.0000
1999-04  1104.803672  1104.803672    0.0000
1999-05  1099.500614  1104.803672   -0.0048

In [65]:
q11_data['drawdown'].min()

-0.5527349978713653

##### Question 11 answer = 55.27

"""""""

#### Question 12
Over the period 1999-2015, at the end of which month did that maximum drawdown of the LargeCap (Hi 20) portfolio occur?
Enter the answer as YYYY-MM i.e. for February of 2015 you would enter 2015-02

In [66]:
q11_data['drawdown'].idxmin()

Period('2009-02', 'M')

##### Question 12 answer 2009-02


""""""

#### Question 13
For the remaining questions, use the EDHEC Hedge Fund Indices data set that we used in the lab assignment and load them into Python. Looking at the data since 2009 (including all of 2009) through 2018 which Hedge Fund Index has exhibited the highest semideviation?

In [86]:
import lolanto_risk as lr

In [87]:
hfi = lr.get_hfi_return()
hfi = hfi['2009':]

In [91]:
lr.semideviation(hfi).sort_values()

Fixed Income Arbitrage    0.003321
Merger Arbitrage          0.003611
Global Macro              0.005075
Equity Market Neutral     0.005186
Relative Value            0.005711
Convertible Arbitrage     0.006681
Funds Of Funds            0.007948
Distressed Securities     0.009498
Event Driven              0.010135
CTA Global                0.010996
Long/Short Equity         0.012139
Emerging Markets          0.015276
Short Selling             0.021240
dtype: float64

##### Question 13 answer = Short Selling

#### Question 14
Looking at the data since 2009 (including all of 2009) which Hedge Fund Index has exhibited the lowest semideviation?

##### Question 14 answer = Fixed Income Arbitrage

""""""

#### Question 15
Looking at the data since 2009 (including all of 2009) which Hedge Fund Index has been most negatively skewed?

In [93]:
lr.skewness(hfi).sort_values()

Equity Market Neutral    -0.896327
Funds Of Funds           -0.646908
Merger Arbitrage         -0.551065
Event Driven             -0.488821
Long/Short Equity        -0.463703
Distressed Securities    -0.254944
Emerging Markets          0.033123
CTA Global                0.052062
Relative Value            0.159953
Global Macro              0.348184
Short Selling             0.456518
Fixed Income Arbitrage    1.121453
Convertible Arbitrage     1.305911
dtype: float64

##### Question 15 answer = Equity Market Neutral

#### Question 16
Looking at the data since 2000 (including all of 2000) through 2018 which Hedge Fund Index has exhibited the highest kurtosis?

In [107]:
lr.kurtosis(hfi['2000':'2018']).sort_values()

CTA Global                2.591087
Merger Arbitrage          2.715238
Global Macro              3.164362
Distressed Securities     3.319725
Event Driven              3.620617
Funds Of Funds            3.816132
Long/Short Equity         4.115713
Short Selling             4.175832
Emerging Markets          4.401636
Relative Value            4.512482
Equity Market Neutral     5.071677
Fixed Income Arbitrage    6.406941
Convertible Arbitrage     6.775731
dtype: float64

##### Question 16 answer =